
body{
    background-image: url("./components/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

@media screen and (max-width: 968px){
    .container{
        min-height: calc(100vh - 13.14vh - 50px);
    }
}