
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 13vh - 14vh);
    background-image: url("./components/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

@media screen and (max-width: 968px){

    .body{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 13vh);
    }
}